<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EMSPhase3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>service</display-name>
    <servlet-name>service</servlet-name>
    <servlet-class>com.flp4.ems.service.service</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>service</servlet-name>
    <url-pattern>/service</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.flp4.ems.service.EMSListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ajaxserv</display-name>
    <servlet-name>ajaxserv</servlet-name>
    <servlet-class>ajaxserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajaxserv</servlet-name>
    <url-pattern>/ajaxserv</url-pattern>
  </servlet-mapping>
</web-app>